.line {
    height: 6px;
    background-color: #000000;
    width: 70px;
    margin: 8px auto;
}

body {
    text-align: center;
    background-color: linear-gradient(to bottom right, white, lightgoldenrodyellow, yellow, darkorange, red, pink, wheat, white);
}

button {
    border: 0px;
    border-radius: 50;
    background-color: aqua;
    color: #000000;
}
